<!-- it would be nice if HTML allowed putting titles in the body:
<title><%=h @section.name %></title> -->

<!-- <%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
 -->



<!-- TODO: COPY and modify story.html.erb   -->

