<!-- excerpt.html.erb -->
<h2><%= link_to h @story.title, story_path(@story) %></h2>
<%= render :partial => 'date_box' %>
<%= markdown(@story.extract) %>
<a href="#"><span class="more">... more &rarr;</span></a></p>
<!-- /excerpt.html.erb -->
