    <ul>
      <li class="even class">
<div class="header"><h2><a class="class-link" href="/forums"><!-- Stories --></a></h2></div>
<div class="section">



<% for story in @stories %>

<div class="card forum">
  <div class="summary">
    <a class="forum-link" href="<%# story %>"><span class="view string forum-title" hobo-model-id="forum_3_title"><%=h story.title %></span></a>

    <span class="count">1 topic, 2 posts</span>
    <span class="view text forum-description" hobo-model-id="forum_3_description"><%=h story.extract %></span>
  </div>
  <div class="latest-post">
      Latest Post
<a class="forum-topic-link" href="/forum_topics/22">
  28 days ago<br/> by <%=h story.author %>
</a>
  </div>
</div>
<% end %>

<%= link_to 'New story', new_story_path %>

          <p><a class="class-link" href="/forums">More</a> (4 Stories)</p>
      </div>
    </li>
    </ul>



  

  
  


