<!-- section navigation menu -->
<div id="menu">
  <ul id="nav">
  <% for each_section in all_sections %><li id="<%=h each_section.name.downcase %>_tab"<%= tab_style(each_section) %>>
    <a href="/sections/<%=h each_section.tab_position.to_s %>"><%=h each_section.name %></a></li>
  <% end %>
  </ul>
</div>
<!-- /section navigation menu -->